## CMake 
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

## Output folders
/output
/framework/res

*Zone.Identifier
*.vtk
*.a
*.blend
*.out

log.txt
dam_break.sh
slope_to_box.sh

## From the course
tests/learnSPH_tests
app/learnSPH_app
app/dam_break
app/learnSPH_benchmarkMC
app/learnSPH_app_refac

## VSCode related
.vscode

## Cmake vscode extension outputs
/build

## ClangD 
/.cache

## Benchmark output
Mcubes_*_log.txt